@model SchedulerMVC.Models.EmployeeModels.EmployeeToAddViewModel

@{
    Layout = null;
}

<style>
    input[type="file"] {
        display: none;
    }

    .custom-file-upload {
        background-color: #072168;
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }
</style>
<link rel="stylesheet" href="~/fonts/font.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/lib/bootstrap" />
<link rel="stylesheet" href="~/RegisterForm/regForm.css" />
<div class="form-body">
    <div class="row">
        <div class="form-holder container">
            <div class="form-content">
                <div class="form-items">
                    <h3>Qeyd Ol</h3>
                    <p>
                        Boşluqları doldurun
                    </p>
                    <form asp-controller="Employee" asp-action="Add" enctype="multipart/form-data">

                        <div class="col-md-12">
                            <label>Ad</label>
                            <input class="form-control" type="text" style="margin-top:-6px" asp-for="@Model.Employee.Name" required>
                        </div>

                        <div class="col-md-12">
                            <label>Soyad</label>
                            <input class="form-control" style="margin-top:-6px" type="text" asp-for="@Model.Employee.Surname" required>
                        </div>

                        <div class="col-md-12">
                            <label>Email</label>
                            <input class="form-control" style="margin-top:-6px" type="text" asp-for="@Model.Employee.EMail" required>
                        </div>

                        <div class="col-md-12">
                            <label>
                                İstifadəçi adı
                            </label>
                            <input class="form-control" style="margin-top:-6px" type="text" asp-for="@Model.Employee.Username" required>
                        </div>

                        <div class="col-md-12">
                            <label>
                                parol
                            </label>
                            <input class="form-control " style="margin-top:-6px" type="password" asp-for="@Model.Employee.Password" required>
                        </div>
                        <div class="col-md-12">
                            <label>
                                Telefon nömrəsi
                            </label>
                            <input class="form-control" style="margin-top:-6px" type="text" asp-for="@Model.Employee.PhoneNumber" required>
                        </div>
                        <div class="col-md-12 mt-2">
                            <label class="custom-file-upload" style="margin-top:-6px">
                                <input type="file" asp-for="@Model.Employee.Image" />
                                Şəkil
                            </label>
                        </div>

                        <div class="col-md-12 mt-2">
                            <label>
                                Təşkilat
                            </label>
                            <select class="form-select" id="organizationSelect" style="margin-top:-6px" asp-items="@(new SelectList(Model.Organizations,"OrganizationId","Name"))">
                            </select>
                        </div>

                        <div class="col-md-12 mt-2">
                            <label>
                                Şöbə
                            </label>
                            <select class="form-select" style="margin-top:-6px" id="departmentsSelect"></select>
                        </div>

                        <div class="col-md-12 mt-2">
                            <label>
                                Sektor
                            </label>
                            <select class="form-select" id="sectorsSelect" style="margin-top:-6px"></select>
                        </div>

                        <div class="col-md-12">
                            <label>Vəzifə</label>
                            <select class="form-select" style="margin-top:-6px" asp-for="@Model.Employee.PositionId" asp-items="@(new SelectList(Model.Positions,"PositionId","Name"))"></select>
                        </div>

                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-secondary">
                                Təsdiq edin
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    const organizationSelect = document.getElementById("organizationSelect")
    const departmentsSelect = document.getElementById('departmentsSelect')
    const sectorsSelect = document.getElementById('sectorsSelect')


    organizationSelect.addEventListener('change', (e) => selectOrganization(e))
    departmentsSelect.addEventListener('change', (e) => selectDepartments(e))


    function selectOrganization(e) {
        departmentsSelect.options.length = 0
        sectorsSelect.options.length = 0
        const sel = e.target;
        const selectedOrganizationId = +sel.options[sel.selectedIndex].value
        const organizationId = parseInt(selectedOrganizationId)
        console.log(organizationId)

        fetch(`/Employee/GetDepartmentsByOrganization?organizationId=${organizationId}`, {
        }).then(res => res.json())
            .then(response => {
                fillDepartments(response)
            })

    }

    function fillDepartments(departments) {
        departments.forEach(department => {
            const departmentOption = document.createElement('option')
            departmentOption.value = department.departmentId
            departmentOption.text = department.name

            departmentsSelect.append(departmentOption)
        })
    }

    function selectDepartments(e) {
        console.log("heyyyy")
        sectorsSelect.options.length = 0
        const sel = e.target;
        const selectedDepartmentId = +sel.options[sel.selectedIndex].value
        const departmentId = parseInt(selectedDepartmentId)
        console.log(departmentId)

        fetch(`/Employee/GetSectorsByDepartment?departmentId=${departmentId}`, {
        }).then(res => res.json())
            .then(response => {
                console.log('sectors: ', response)
                fillSector(response)
            })
    }

    function fillSector(sectors) {
        sectors.forEach(sector => {
            const sectorOption = document.createElement('option')
            sectorOption.value = sector.sectorId
            sectorOption.text = sector.name

            sectorsSelect.append(sectorOption)
        })
    }
    //http://localhost:21255/Employee/GetSectorsByDepartment

</script>
