@model SchedulerMVC.Models.EmployeeModels.EmployeeViewModel

<style>
    #tablescrole {
        width: 600px;
        height: 400px;
    }

    .my-custom-scrollbar {
        position: relative;
        height: 400px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }

    img {
        max-width: 6rem;
        max-height: 6rem;
    }
</style>
<link rel="stylesheet" href="~/lib/bootstrap" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<h1 class="text-center" style="color: #130f40;">
    Bütün işçilər
</h1>

<div class="container table-wrapper-scroll-y my-custom-scrollbar">

    <table class="table table-striped" id="dtVerticalScrollExample">
        <thead style="background-color: #130f40; color: #dff9fb; ">
            <tr>
                <th class="col-4">Photo</th>
                <th class="col-4">Ad</th>
                <th class="col-4">Soyad</th>
                <th class="col-4">Email</th>
                <th class="col-4">
                    İstifadəçi adı
                </th>
                <th class="col-4">
                    Telefon nömrəsi
                </th>
                <th class="col-4">Vəzifə</th>
                <th class="col-4">
                    Sektor
                </th>
                <th class="col-4">Şöbə</th>
                <th class="col-4">Təşkilat</th>
                <th class="col-4">Üst Təşkilat</th>
                @if (Model.Authorization == "true")
                {
                    <th class="col-4">Yeniləyin</th>
                    <th class="col-4">Silin</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Employees)
            {
                <tr style="color: #130f40; padding-top: 15%;">
                    <td><img src="~/images/@item.ImagePath" style="width:6rem;height:6rem;" class="rounded-circle" /></td>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td>@item.EMail</td>
                    <td>@item.Username</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Position.Name</td>
                    @if (item.Sector == null || item.Sector.Department == null || item.Sector.Department.Organization == null || item.Sector.Department.Organization.ParentOrganization == null)
                    {
                        if (item.Sector == null)
                        {
                            <td>Yoxdur</td>
                            <td>Yoxdur</td>
                            <td>Yoxdur</td>
                            <td>Yoxdur</td>
                        }
                        else if (item.Sector.Department == null)
                        {
                            <td>@item.Sector.Name</td>
                            <td>Yoxdur</td>
                            <td>Yoxdur</td>
                            <td>Yoxdur</td>
                        }
                        else if (item.Sector.Department.Organization == null)
                        {
                            <td>@item.Sector.Name</td>

                            <td>@item.Sector.Department.Name</td>
                            <td>Yoxdur</td>
                            <td>Yoxdur</td>

                        }
                        else if (item.Sector.Department.Organization.ParentOrganization == null)
                        {
                            <td>@item.Sector.Name</td>

                            <td>@item.Sector.Department.Name</td>
                            <td>@item.Sector.Department.Organization.Name</td>
                            <td>Yoxdur</td>
                        }

                    }
                    else
                    {
                        <td>@item.Sector.Name</td>

                        <td>@item.Sector.Department.Name</td>
                        <td>@item.Sector.Department.Organization.Name</td>
                        <td>@item.Sector.Department.Organization.ParentOrganization.Name</td>
                    }

                    @if (Model.Authorization == "true")
                    {
                        <td><button class="btn" style="background-color: #596275;">@Html.ActionLink("Yeniləyin", "UpdateForm", "Employee", new { employeeId = item.EmployeeId })</button></td>
                        <td><button class="btn" style="background-color: #596275;">@Html.ActionLink("Silin", "Delete", "Employee", new { employeeId = item.EmployeeId })</button></td>
                    }
                </tr>
            }

        </tbody>
    </table>
</div>




