@model SectorViewModel

<div class="container form-group d-block overflow-auto flex-md-row">
    @foreach (var item in Model.sectors)
    {
        <div class="card float-left mr-3" style="width: 18rem;">
            <img class="card-img-top" src="~/css/img/cloud-scheduling.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                @if (@item.Department == null)
                {
                    <p class="card-text">Departmente bagli deyil </p>
                }
                else if (item.Department.Organization==null)
                {
                    <p class="card-text">@item.Department.Name</p>
                    <p class="card-text">Organizasiyaya bagli deyil</p>
                }
                else
                {
                    <p class="card-text">Ust Qurum @item.Department.Name</p>
                    <p class="card-text">Ust Qurum @item.Department.Organization.Name</p>
                }

                <div class="btn-group">
                    <button class="btn btn-warning text-decoration-none">@Html.ActionLink("Update", "UpdateForm", "Sector", new { sectorId = item.SectorId })</button>
                    <button class="btn btn-warning text-decoration-none">@Html.ActionLink("Delete", "Delete", "Sector", new { sectorId = item.SectorId})</button>
                </div>
            </div>
        </div>
    }
</div>
<div class="container d-block ">
    <a asp-controller="Sector" asp-action="AddForm" class=" btn btn-dark text-decoration-none">
        Add Your Sector
    </a>
</div>
