@model SchedulerMVC.Models.SectorModels.SectorViewModel
<div class="container mt-5">
    <h1 class="text-center">Sektorlar</h1>
    @foreach (var item in Model.sectors)
    {<div class="jumbotron">
            <h1 class="display-4">@item.Name</h1>
            @if (item.Department == null)
            {
                <p class="lead">
                    Heç bir şöbəyə tabe olmur.
                </p>
            }
            else
            {
                <p class="lead">Şöbə: @item.Department.Name</p>
                @if (item.Department.Organization == null)
                {
                    <hr class="my-4">
                    <p>
                        Heç bir təşkilata tabe olmur.
                    </p>
                }
                else
                {
                    <hr class="my-4">
                    <p>Təşkilat: @item.Department.Organization.Name</p>
                    @if (item.Department.Organization.ParentOrganization == null)
                    {
                        <hr class="my-4">
                        <p>
                            Heç bir üst təşkilata tabe olmur.
                        </p>
                    }
                    else
                    {
                        <hr class="my-4">
                        <p>Üst təşkilat:@item.Department.Organization.ParentOrganization.Name</p>
                    }
                }
            }

            <p class="lead">
                @if (Model.Authorization == "true")
                {<button class="btn btn-info">@Html.ActionLink("Yeniləyin", "UpdateForm", "Sector", new { sectorId = item.SectorId })</button>
                <button class="btn btn-info">@Html.ActionLink("Silin", "Delete", "Sector", new { sectorId = item.SectorId })</button>}

            </p>
        </div>
    }
    @if (Model.Authorization == "true")
    {

        <div class="container d-block ">
            <a asp-controller="Sector" asp-action="AddForm" class=" btn btn-dark text-decoration-none">
                Sektor əlavə edin
            </a>
        </div>

    }
</div>

