@model SchedulerMVC.Models.ProjectModels.ProjectViewModel


<div class="d-block"><h1 class="text-center">Layihələr</h1></div>
<div class="accordion" id="accordionExample">
    @foreach (var item in Model.Projects)
    {
        <div class="card">
            <div class="card-header" style="background-color: #FFEAEE" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        @item.Name
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <p>@item.Description</p>
                    <p>@item.Attendances</p>
                    @if (Model.Authorization == "true")
                    {
                        <button class="btn " style="background-color: #FFEAEE">@Html.ActionLink("Yeniləyin", "UpdateForm", "Project", new { projectId = item.ProjectId })</button>
                        <button class="btn " style="background-color: #FFEAEE">@Html.ActionLink("Silin", "Delete", "Project", new { projectId = item.ProjectId })</button>
                    }
                </div>
            </div>
        </div>
    }
</div>
@if (Model.Authorization == "true")
{
    <div class="container form-group d-block">
        <a asp-controller="Project" asp-action="AddForm" class=" btn " style="background-color: #FFEAEE">
            Yeni Layihə əlavə edin
        </a>
    </div>
}
